#hbcms_layout_wrap p {
    margin:1rem;
    color:rgba(0,0,0,0.2);
}
.template_layout_widget_wrap {
    margin:0.5rem;
    padding:0.5rem;
    border:2px dashed rgba(0,0,0,0.1);
}
#hbcms_layout_wrap h2 {
    margin-bottom:0.5rem;
    text-align:center;
}
.widget_count {
    font-size:70%;
    opacity:0.6;
}
.tags a {
    margin-right: 1rem;
}
#template_layout_container #main {
    display:flex;
    margin-top:0;
}
#template_layout_container div#content {
    width: 60%;
}
#template_layout_container #sidebar {
    width: 40%;
}