.menu_items_by_tag_wrap {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    justify-content:center;
}
.menu_item_wrap {
    width: 15em;
    margin: 1em;
    background: rgba(0,0,0,0.2);
    padding: 1em;
}
.menu_item_wrap.wider {
    width:30em;
}
.menu_item_wrap h1 {
    margin-top:0;
    line-height:0.9;
}
.menu_item_wrap p {
    margin-bottom:0; 
}
.front_end_edit_wrap {
    position: absolute;
    left: 0;
    z-index: 999999999999999999;
    background: rgba(0,0,0,0.5);
    border-radius: 0 0 2rem 0;
}
.front_end_edit_wrap a {
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
    padding: 0.5em 1.5rem;
    display: inline-block;
}