#upload_space {
	height:10rem;
	padding:1rem;
	margin:1rem;
	border:2px dashed #aaa;
	display:flex;
	align-items: center;
	justify-content: center;
	transition:all 0.3s ease;
	
	h1 {
		font-size:2rem;
		opacity:0.3;
		font-weight:900;
	}
	
	&.ready {
		border:2px dashed #aaa;
		background:#cec;
	}
}

#all_images {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(17.5rem, 1fr));
	justify-items: center;
	padding-bottom: 2rem;
}

.all_images_image_container {
	width:17.5rem;
	height:20rem;
	min-width:100px;
	position:relative;
	background-color:black;
}
@media screen and (max-width: 520px) {
	.all_images_image_container {
		width: 95vw;
    	height: 90vw;
	}
}

.all_images_image_container:hover {
	cursor:pointer;
}
.all_images_image_container.active {
	/* background-color:#447; */
	background-color:#afa;
}
.all_images_image_container.active img {
	transform:scale(0.9);
}
.all_images_image_container:hover .image_info_wrap {
	background: transparent;

	.image_info {
		z-index: -1000;
		background: transparent;
	}

	.state_indicator {
		border-bottom-left-radius: 1rem;
	}
}

.all_images_image_container img {
	width: 100%;
    height: 100%;
    /* object-fit: cover; */
	overflow: hidden;
	transition:all 0.3s ease;
	pointer-events: none;
	object-fit:contain;
}
.all_images_image_container:hover img {
	object-fit:contain;
}

.image_info_wrap {
	position:absolute;
	width:100%;
	top:0;
	left:0;
	display: flex;
}
.state_indicator {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	z-index: 1;
	background-color: rgba(0,0,0,0.8);

	i {
		width: 100%;
		pointer-events: none;
	}
}
.all_images_image_container .tag {
	font-size:0.6rem !important;
}
.image_info {
	transition:all 0.3s ease;
	font-size:70%;
	padding:1em;
	color:white;
	flex-grow: 1;
	background-color: rgba(0,0,0,0.8);
	pointer-events: none;
}
.image_tags_wrap {
	position:absolute;
	font-size:75%;
	padding:0.5em;
	width:100%;
	bottom:0;
	left:0;
	background:rgba(255,255,255,0.7);

	.image_tags{

		& > .control {
			max-width: 100%;

			.tag {
				max-width: 90%;
				overflow: hidden;
				display: block;
				text-overflow: ellipsis;
				align-content: center;
			}
		}
	}
}
.bigger {
	font-size:120%;
}
dialog::backdrop {
	backdrop-filter:blur(5px);
	/* background: repeating-linear-gradient(
		45deg,
		rgba(0, 0, 0, 0.2),
		rgba(0, 0, 0, 0.2) 1px,
		rgba(0, 0, 0, 0.3) 1px,
		rgba(0, 0, 0, 0.3) 20px
	); */
}

.tags_menu_options {
	padding: 0.5rem 0;
	background-color: var(--bulma-body-background-color);
}

@media only screen and (min-width: 1024px) {
	.tags_menu_options {
		position: sticky;
		top: 4rem;
		z-index: 2;
	}
}

@media only screen and (max-width: 1024px) {
	h1.title.sticky {
		position: relative;
	}
}