# testing log
cmslog.txt
# used for synching remote installations
version.json
# testing scripts
makepackage.php
cleardb.php
# htaccess
.htaccess
# phpmyadmin
phpmyadmin/
# ignore created packages
latest.zip
# ignore config.php - contains db stuff
config.php
# images
images/processed/*
images/upload/*
!images/processed/index.html
!images/upload/index.html
# misc testing scripts
testing/
# testing admin templates
admin/templates/testadmintemplate/**
# ignore custom controllers - note: add future default controllers here!
controllers/**
!controllers/basic_aricle/**