.editor_root_node {
    --border-color: color-mix(in srgb, currentcolor 100%, black 90%);
    --background-color: var(--bulma-body-background-color);

    border-radius: 0.5rem;
    border: 1px solid var(--border-color);
    position: relative;

    .link-bubble-bar, .image-bubble-bar {
        background-color: var(--background-color);
        border-radius: 0.5rem;
        border: 1px solid var(--border-color);
        display: flex;

        & > div {
            padding: 0.5rem;
            cursor: pointer;
            font-size: 0.75rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            &:hover {
                background-color: color-mix(in srgb, currentcolor 100%, black 50%);
                color: color-mix(in srgb, currentcolor 100%, white 90%);
            }

            &:first-of-type {
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
            }

            &:last-of-type {
                border-top-right-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
            }


            & > * {
                pointer-events: none;
            }
        }

        hr {
            height: 2em;
            width: 1px;
            background-color: var(--border-color);
            margin: 0;
            padding: 0;
        }
    }

    .gui_editor_control_bar {
        display: flex;
        flex-wrap: wrap;
        gap: 0.75rem;
        align-items: center;
        padding: 0 0.75rem;
        position: sticky;
        top: 4.5rem;
        background-color: var(--background-color);
        z-index: 1;
        border-radius: 0.5rem;

        i, select {
            cursor: pointer;
        }

        hr {
            height: 1em;
            width: 1px;
            background-color: currentColor;
            margin: 0;
        }

        select {
            background-color: transparent;
            color: currentColor;
            border: 0px solid transparent;
            padding: 0.5rem 0.25rem;
            min-width: 8rem;

            /* biome-ignore lint: not solving now */
            &, &::picker(select) {
                appearance: base-select;
            }

            option {
                display: grid;
                grid-template-columns: [icon] auto [content] 1fr [mark] auto;
                color: black;
                
                /* biome-ignore lint: not solving now */
                &::checkmark {
                    grid-area: 1 / mark;
                }
            }

            option[value="unknown"]:not(:checked) {
                display: none;
            }
        }

        .fa.fa-bold, .fa.fa-italic, .fa.fa-underline, .fa.fa-link, .fa.fa-puzzle-piece, .fa.fa-anchor {
            border-radius: 0.5rem;
            padding: 0.5rem;

            &.active {
                background-color: color-mix(in srgb, currentcolor 100%, black 90%);
                color: color-mix(in srgb, currentcolor 100%, white 90%);
            }

            &:not(.active):hover {
                background-color: color-mix(in srgb, currentcolor 100%, black 50%);
                color: color-mix(in srgb, currentcolor 100%, white 90%);
            }
        }

        .dropdown:has(input:checked) .dropdown-menu {
            display: block;

            .dropdown-trigger {
                padding: 0.5rem;

                &:hover {
                    background-color: color-mix(in srgb, currentcolor 100%, black 50%);
                    color: color-mix(in srgb, currentcolor 100%, white 90%);
                }
            }
        }

        .dropdown-wrapper {
            --width: 2.5rem;

            &.insert-options {
                --width: 6rem;
            }
            
            position: relative;
            min-height: 1.5rem;
            min-width: var(--width);
            border-radius: 0.5rem;
            padding: 0.5rem;

            &:hover {
                background-color: color-mix(in srgb, currentcolor 100%, black 50%);
                color: color-mix(in srgb, currentcolor 100%, white 90%);
            }

            & > * {
                position: absolute;
                top: 0rem;
                left: 0rem;
            }

            &.text-style > * {
                position: absolute;
                top: 0.25rem;
                left: 0.25rem;
            }

            div {
                display: flex;
                justify-content: space-between;
                width: var(--width);
                padding-right: 0.5rem;
                align-items: center;
            }

            &.insert-options div {
                padding-left: 0.5rem;
            }

            select {
                opacity: 0;
                min-width: var(--width);
                max-width: var(--width);
                height: 1.75rem;
                padding: 0;

                /* biome-ignore lint: not solving now */
                &::picker(select) {
                    top: calc(anchor(bottom) + 1px);
                }

                /* biome-ignore lint: not solving now */
                option::checkmark {
                    display: none;
                }
            }

            /* biome-ignore lint: not solving now */
            &.text-style select::picker(select) {
                right: anchor(right);
            }
        }

        .justifytype[disabled] {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }

    .editor_seperator {
        margin-bottom: 0.5rem;
        margin-top: 0.25rem;
        background-color: var(--border-color);
        height: 1px;
        position: sticky;
        top: 7rem;
        z-index: 2;
    }

    .gui_editor {
        padding: 0 0.75rem;
        padding-bottom: 0.75rem;

        & > div {
            outline: 0px transparent;

            p.is-editor-empty:first-child::before {
                content: attr(data-placeholder);
                float: left;
                height: 0;
                pointer-events: none;
                opacity: 0.5;
            }

            /* some default css styles */
            h1 {
                font-size: 2.5rem;
            }
            h2 {
                font-size: 2.25rem;
            }
            h3 {
                font-size: 2rem;
            }
            h4 {
                font-size: 1.75rem;
            }
            h5 {
                font-size: 1.5rem;
            }
            h6 {
                font-size: 1.25rem;
            }
            ul {
                list-style: disc;
            }
            ul, ol {
                padding-left: 1.5rem;
            }
            blockquote {
                border-left: 3px solid color-mix(in srgb, currentcolor 100%, black 90%);
                padding-left: 0.5rem;
            }
            u {
                text-decoration: underline
            }
            iframe, img {
                border: 5px solid grey;
            }

            img.rich_image {
                max-width: 20rem;

                &.pull-left {
                    float: left;
                }

                &.pull-right {
                    float: right;
                }
            }

            a.internal_anchor {
                font-weight: 900;
                /* biome-ignore lint: not solving now */
                font-family: "Font Awesome 5 Free";
                -webkit-font-smoothing: antialiased;
                display: inline-block;
                font-style: normal;
                font-variant: normal;
                text-rendering: auto;
                line-height: 1;

                &:before {
                    content: "\f13d";
                }
            }
        }
    }
}