.menu_node {
    position: relative;
    transition: all 0.3s ease;
    background: rgba(0,0,0,0.1);
    margin-bottom: 1rem;
}
.menu_node.selected {
    outline: 2px solid orange;
}
#menu_designer_tree.menu_node {
    border:none;
    margin:0;
    padding:0;
    padding-top:0;
    background:transparent;
}
.menu_node_info {
    pointer-events: none;
    padding:1rem;
}
.menu_node_info .menu_designer_node_title {
    margin-bottom:0;
}

.insertbefore {
    box-shadow: inset 0 10px 0 0 #0a0;
}
.insertafter {
    box-shadow: inset 0 -10px 0 0 #0a0;
}
.insertinside {
    box-shadow: inset -10px 0 0 0 #0a0;
}
.insertbefore, .insertafter, .insertinside {
    transform:scale(1.02);
}

.menu_node .menu_node {
    margin-left: 1rem;
}

#menu_designer_page_listing {
    max-width: 25rem;

    label.checkbox {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span.page_title {
            word-break: break-word;
        }

        input {
            display: none;
        }

        .add-button {
            opacity: 0;
            transition: opacity 0.2s;
            font-weight: bold;
            font-size: 1.25em;
        }

        &:hover .add-button {
            opacity: 1;
        }
    }

    #menu_desiger_add_pages {
        display: none;
    }
}

#menu_designer_tree {
    max-width: 40rem;
}