table.table {
	width:100%;

    tr {
        td {
            display: flex;
            flex-direction: column;
            justify-content: center;

            div.tags {
                max-height: 15rem;
                overflow: auto;

                span.tag {
                    text-wrap: wrap;
                    height: auto;
                }
            }
        }
    }
}
.position_single_wrap {
	font-size:70%;
	padding-top:0.3rem;
	border-top:1px solid rgba(0,0,0,0.1);
	margin-top:0.3rem;
	opacity:0.6;
}
span.position_single {
	font-weight:bold;
}
span.page_list, td.note_td, .lighter_note, .usage {
	font-size:70%; opacity:0.6;
}

.state1 {
	color:#00d1b2;
}
.state0 {
	color:#f66;
}
.hidden_multi_edit {
	display:none;
}
.content_admin_row.selected {
	background:rgba(200,255,200,0.3);
}

table tr.droppable td {
	height: 0;
    padding: 0;
    border: none;
    margin: 0;
    transition: all 0.3s ease;
}
table.dragging tr.droppable td {
	height:1rem;
	background:rgba(255,255,100,0.2);
}
table.dragging tr.droppable.ready {
	height:2.2rem;
	background:rgba(155,255,100,0.3);
}
.drag_td {
	height: 0;
}
.center_state {
	height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.before_after_wrap {
	margin-right:0rem;
	transition:all 0.3s ease;
	width:0;
	opacity:0;
}

.order_drop {
	color: white;
    background: #aad;
    padding: 0.3em;
    font-size: 0.7rem;
    border-radius: 0.2rem;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.order_drop:first-child {
	margin-bottom:0.5rem;
}
.order_drop.ready {
	background:#ada;
}

tr.dragging {
	opacity:0.3;
}

.grip {
	margin-right:1rem;
}
table.dragging .before_after_wrap {
	display:block;
	margin-right:1rem;
	width:auto;
	max-width:15rem;
	opacity:1;
}

@media screen and (min-width: 1024px) {
    table.table, table.table thead, table.table tbody {
        display: block;
        width: 100%;
    }

    table.table tr {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
    }

    table.table .drag_td {
        height: auto;
    }

    table.table th, table.table td {
        word-break: break-word;
    }
}

.orderablerow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    & * {
        
        pointer-events: none;
    }
}

th:has(.orderablerow) input {
    display: none;
}

th:has(.orderablerow) i {
    display: none;
}

th:has(input[value="regular"]:checked) i.fas.fa-sort {
    display: inline-block;
}

th:has(input[value="asc"]:checked) i.fas.fa-sort-up {
    display: inline-block;
}

th:has(input[value="desc"]:checked) i.fas.fa-sort-down {
    display: inline-block;
}

@media screen and (max-width: 1024px) {
    table.table {
        thead {
            display: none;
        }

        tbody {
            display: flex;
            flex-direction: column;
            gap: 1rem 0;

            tr {
                --row-background-color: rgba(255, 255, 255, 0.1);

                padding: 1rem 0;
                display: grid;
                grid-template-columns: 4rem 1fr;
                row-gap: 0.5rem;

                td {
                    &.state-wrapper {
                        order: -2;
                        background-color: var(--row-background-color);

                        button {
                            padding: 0.5rem;
                        }
                    }
    
                    &.title-wrapper {
                        order: -1;
                        background-color: var(--row-background-color);
                    }
    
                    &:empty, &.id-wrapper {
                        display: none !important;
                    }

                    &:not(.state-wrapper, .title-wrapper) {
                        display: grid;
                        grid-template-columns: subgrid;
                        grid-column: span 2;

                        &:before {
                            content: attr(dataset-name);
                        }
                    }

                    &.title-wrapper {
                        max-width: 100%;
                        overflow: hidden;

                        a, span {
                            text-wrap: wrap;
                            word-break: break-all;
                        }
                    }
                }
            }
        }
    }
}

#search_form {
    div.field:has(#category), div.field:has(#creator) {
        grid-column: span 2;
    }
}