table.table {
    width:100%;

    tr {
        td {
            div.tags {
                max-height: 15rem;
                overflow: auto;

                span.tag {
                    text-wrap: wrap;
                    height: auto;
                }
            }
        }
    }
}
.position_single_wrap {
    font-size:70%;
    padding-top:0.3rem;
    border-top:1px solid rgba(0,0,0,0.1);
    margin-top:0.3rem;
    opacity:0.6;
}
span.position_single {
    font-weight:bold;
}

.user_admin_row.selected {
    background:rgba(200,255,200,0.3);
}