.unimportant {
	font-size:70%;
	opacity:0.5;
}
.child_indicator {
	opacity:0.2;
	font-size:120%;
}
#all_pages_table {
	width:100%;
}

.state1 {
	color:rgba(50,200,50,0.5);
}

table.table {
	width:100%;
}
.position_single_wrap {
	font-size:70%;
	padding-top:0.3rem;
	border-top:1px solid rgba(0,0,0,0.1);
	margin-top:0.3rem;
	opacity:0.6;
}
span.position_single {
	font-weight:bold;
}



#page_operations {
	margin-right:2rem;
}

.hidden_multi_edit {
	display:none;
	/* display:inline-block; */
}
.page_admin_row.selected {
	background:rgba(200,255,200,0.3);
}