table.table {
	width:100%;

    tr {
        td {
            display: flex;
            flex-direction: column;
            justify-content: center;

            div.tags {
                max-height: 15rem;
                overflow: auto;

                span.tag {
                    text-wrap: wrap;
                    height: auto;
                }
            }
        }
    }

    .orderablerow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        & * {
            
            pointer-events: none;
        }
    }

    th:has(.orderablerow) input {
        display: none;
    }

    th:has(.orderablerow) i {
        display: none;
    }

    th:has(input[value="regular"]:checked) i.fas.fa-sort {
        display: inline-block;
    }

    th:has(input[value="asc"]:checked) i.fas.fa-sort-up {
        display: inline-block;
    }

    th:has(input[value="desc"]:checked) i.fas.fa-sort-down {
        display: inline-block;
    }
    
    .content_admin_row.selected {
        background:rgba(200,255,200,0.3);
    }
}


@media screen and (min-width: 1024px) {
    table.table, table.table thead, table.table tbody {
        display: block;
        width: 100%;
    }

    table.table tr {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
    }

    table.table .drag_td {
        height: auto;
    }

    table.table th, table.table td {
        word-break: break-word;
    }
}

@media screen and (max-width: 1024px) {
    table.table {
        thead {
            display: none;
        }

        tbody {
            display: flex;
            flex-direction: column;
            gap: 1rem 0;

            tr {
                --row-background-color: rgba(255, 255, 255, 0.1);

                padding: 1rem 0;
                display: grid;
                grid-template-columns: 4rem 1fr;
                row-gap: 0.5rem;

                td {
                    &.state-wrapper {
                        order: -2;
                        background-color: var(--row-background-color);

                        button {
                            padding: 0.5rem;
                        }
                    }
    
                    &.title-wrapper {
                        order: -1;
                        background-color: var(--row-background-color);
                    }
    
                    &:empty, &.id-wrapper {
                        display: none !important;
                    }

                    &:not(.state-wrapper, .title-wrapper) {
                        display: grid;
                        grid-template-columns: subgrid;
                        grid-column: span 2;

                        &:before {
                            content: attr(dataset-name);
                        }
                    }

                    &.title-wrapper {
                        max-width: 100%;
                        overflow: hidden;

                        a, span {
                            text-wrap: wrap;
                            word-break: break-all;
                        }
                    }
                }
            }
        }
    }
}