.fixed-control-bar {
    position:fixed;
    overflow:hidden;
    width:100vw;
    padding:1rem;
    border-bottom:1px solid #aaa;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    top:0;
    left:0;
    background-color: var(--bulma-body-background-color) !important;
    z-index:40;
}