@media (prefers-color-scheme: dark) {
    /* general */
    :root {
        color-scheme: dark;
    }

    /* scrollbar */
    ::-webkit-scrollbar { width: 0.5rem;}
    ::-webkit-scrollbar-button { background-color: #555; height: 0.5rem; }
    ::-webkit-scrollbar-track {  background-color: #555;}
    ::-webkit-scrollbar-track-piece { background-color: #333;}
    ::-webkit-scrollbar-thumb { height: 50px; background-color: #555; border-radius: 3px;}
    ::-webkit-scrollbar-corner { background-color: #555;}
    ::-webkit-resizer { background-color: #666;}

    /* core color */
    body,html{background:#222; color:#aaa;}

    /* sepcific overrides */
    pre{background:#444; color:white;}
    .container {
        background-color: #111;
        color: #aaa;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 15px rgb(0 0 0 / 50%);
    }
    .table {
        border-radius: 0.25rem;
    }
    .fixed-control-bar {
        height: 8rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    #template_layout_container, .template_layout_widget_wrap {
        border-color: rgba(255,255,255,0.2) !important;
    }

    /* color overrides */
    .title, strong {
        color: white;
    }
    .navbar-item:hover, .navbar-item.has-dropdown:hover .navbar-link, a.navbar-item:hover, .navbar-dropdown, .input, .select select, .table, .modal-card-body {
        background-color: #222;
        color: white
    }
    .navbar-link, .navbar-item, .label, .tabs.is-toggle a, label, .table thead th {
        color: #aaa;
    }
    .navbar-dropdown a.navbar-item:hover, .dropdown-divider, .modal-card-head, .modal-card-foot, .modal-card-title {
        background-color: #333;
        color: white;
    }
    .button, .button.is-light {
        background-color: #333;
        color: #aaa;
    }
    .button:hover, .button.is-light:hover, .tabs.is-toggle a:hover {
        background-color: #444;
        color: white;
    }
    .navbar-end .navbar-item:hover, .tag:not(body), .fixed-control-bar, .tag:not(body).is-info.is-light, h1.title.sticky {
        background-color: #111;
        color: #aaa;
    }

    /* buttons */
    .button.is-primary {
        background-color: #009688;
    }
    .button.is-primary:hover {
        background-color: #26A69A;
    }
    .button.is-warning {
        background-color: #FFEB3B;
    }
    .button.is-warning:hover {
        background-color: #FFEE58;
    }
    .button.is-info {
        background-color: #0288D1;
    }
    .button.is-info:hover {
        background-color: #039BE5;
    }
    .button.is-danger {
        background-color: #D32F2F;
    }
    .button.is-danger:hover {
        background-color: #E53935;
    }
    .button.is-primary.is-outlined {
        border-color: #009688;
    }
    .button.is-primary.is-outlined:hover {
        background-color: #009688;
    }

    /* random bulma */
    .notification.is-success {
        background-color: #009688;
    }
    .message.is-success .message-header {
        background-color: #009688;
    }

    /* slim select */
    .ss-main .ss-multi-selected {
        background-color: #222 !important;
    }
    .ss-content {
        background-color: #222 !important;
        color: white !important;
    }
    .ss-search input {
        background-color: #111 !important;
        color: white !important;
    }
    .ss-content .ss-list .ss-option.ss-disabled {
        background-color: #555 !important;
        color: black !important;
    }
}