@media (prefers-color-scheme: dark) {

    /* scrollbar */
    ::-webkit-scrollbar { width: 0.5rem;}
    ::-webkit-scrollbar-button { background-color: rgb(255 255 255 / 15%); height: 0.5rem; }
    ::-webkit-scrollbar-track {  background-color: rgb(255 255 255 / 15%);}
    ::-webkit-scrollbar-track-piece { background-color: rgb(255 255 255 / 5%);}
    ::-webkit-scrollbar-thumb { height: 50px; background-color: rgb(255 255 255 / 15%); border-radius: 3px;}
    ::-webkit-scrollbar-corner { background-color: rgb(255 255 255 / 15%);}
    ::-webkit-resizer { background-color: rgb(255 255 255 / 20%);}

    /* core color */
    body,html{background:#121212; color:#aaa;}

    /* sepcific overrides */
    pre{background:rgb(255 255 255 / 10%); color:white;}
    .container {
        background-color: rgb(255 255 255 / 5%);
        color: #aaa;
        padding: 1rem;
        border-radius: 1rem;
        box-shadow: 0 0 15px rgb(0 0 0 / 50%);
    }
    .table {
        border-radius: 0.25rem;
    }
    .fixed-control-bar {
        height: 8rem;
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    #template_layout_container, .template_layout_widget_wrap {
        border-color: rgba(255,255,255,0.2) !important;
    }

    /* color overrides */
    .title, strong {
        color: white;
    }
    .table {
        background-color: rgb(255 255 255 / 0%);
        color: #aaa;
    }
    .navbar-item:hover, .navbar-item.has-dropdown:hover .navbar-link, a.navbar-item:hover, .navbar-dropdown, .input, .select select, /* .table, */ .modal-card-body {
        background-color: #121212;
        color: white
    }
    .navbar-link, .navbar-item, .label, .tabs.is-toggle a, label, .table thead th {
        color: #aaa;
    }
    .navbar-dropdown a.navbar-item:hover, .dropdown-divider, .modal-card-head, .modal-card-foot, .modal-card-title {
        background-color: rgb(255 255 255 / 5%);
        color: white;
    }
    .button, .button.is-light {
        background-color: rgb(255 255 255 / 5%);
        color: #aaa;
    }
    .button:hover, .button.is-light:hover, .tabs.is-toggle a:hover {
        background-color: rgb(255 255 255 / 10%);
        color: white;
    }
    .navbar-end .navbar-item:hover, .tag:not(body), .fixed-control-bar, .tag:not(body).is-info.is-light, h1.title.sticky {
        background-color: #111;
        color: #aaa;
    }
    .navbar-end .navbar-item:hover {
        background-color: transparent;
    }

    /* anchors */
    a {
        color: #0a8dd1;
    }
    a:hover {
        color: #0a8dd199;
    }

    /* buttons */
    .button.is-primary {
        background-color: #018786;
    }
    .button.is-primary:hover {
        background-color: #01878699;
    }
    .button.is-warning {
        background-color: #FFEB3B;
    }
    .button.is-warning:hover {
        background-color: #e6d437;
    }
    .button.is-info {
        background-color: #0a8dd1;
    }
    .button.is-info:hover {
        background-color: #0a8dd199;
    }
    .button.is-danger {
        background-color: #b00020;
    }
    .button.is-danger:hover {
        background-color: #b0002099;
    }
    .button.is-primary.is-outlined {
        border-color: #018786;
    }
    .button.is-primary.is-outlined:hover {
        background-color: #018786;
    }

    /* random bulma */
    .notification.is-success {
        background-color: #018786;
    }
    .message.is-success .message-header {
        background-color: #018786;
    }
    .navbar-link:not(.is-arrowless)::after {
        border-color: #aaa;
    }

    /* slim select */
    .ss-main .ss-multi-selected, .ss-main .ss-single-selected {
        background-color: #121212 !important;
        color: white;
    }
    .ss-content {
        background-color: #121212 !important;
        color: white !important;
    }
    .ss-search input {
        background-color: #111 !important;
        color: white !important;
    }
    .ss-content .ss-list .ss-option.ss-disabled {
        background-color: rgb(255 255 255 / 15%) !important;
        color: black !important;
    }
    .ss-main .ss-multi-selected .ss-values .ss-value {
        background-color: #0a8dd1 !important;
    }

    /* modals */
    .modal-content .box, .modal-card, input {
        background-color: #222;
    }
    .modal-card-title, h1.title.sticky {
        background-color: rgba(0,0,0,0);
    }
}